# GitHub Actions' files
/.github

# Source files
/src

# Code coverage
/coverage

# Other files
/.editorconfig
/.eslintrc.json
/.eslintignore
/babel.config.json
/tsconfig.json
/.gitattributes
/MIGRATING.md
/CONTRIBUTING.md
