# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Source files
src/

# Other files
.editorconfig
.eslintrc.json
.eslintignore
babel.config.json
rollup.config.js
.gitattributes
